@media (max-width: 769px) {
    main::after {
        background: linear-gradient(0deg, #000 30%, rgba(0, 0, 0, 0.00) 90%) no-repeat;
        width: 100vw;
    }

    main .personagem .imagem {
        height: 300px;
    }

    .conteudo {
        justify-content: flex-end;
        left: 0;
        top: -20%;
        max-width: 100vw;
        padding: 30px;
    }

    .conteudo .nome-personagem {
        font-size: 36px;
    }

    .conteudo .descricao {
        max-width: 500px;
    }

    .botoes {
        flex-direction: row;
        align-items: flex-end;
        width: 100%;
        padding: 40px;
        
    }

    .botoes .botao {
        padding: 40px;
    }
}

/* configurar o site no celular */

@media (max-width: 500px) {
    main .personagem .imagem {
        height: auto;
    }
    .conteudo .logo {
        margin-bottom: 20px;
    }


    .conteudo {
        top: -25%;
    }

    .conteudo .nome-personagem {
        font-size: 24px;
    }

    .botoes {
        padding: 10%;
        top: -5%;
    }

    .botoes .botao {
        padding: 11px;
    }
    
    .conteudo .descricao {
        color: #ffffff;
        font-family: "Rubik";
        line-height: 44px;
        font-size: 15px;
    }

    #contador {
    
        color: rgb(253, 183, 194);
        font-size: 25px;
        font-family: "Secular One";
        margin-top: 40px;
    }
    .botoes .botao {
        border: none;
        background-color: rgba(0, 0, 0, 0.0);
        cursor: pointer;
        border-radius: 50%;
        font-size: 90px;
        font-family: 'Brush Script MT', cursive;
        
        color: red;
        text-shadow: 
        1px 1px 0 rgb(252, 252, 252), /* Contorno para baixo e à direita */
        -1px 1px 0 rgb(255, 255, 255), /* Contorno para baixo e à esquerda */
        1px -1px 0 rgb(255, 255, 255), /* Contorno para cima e à direita */
        -1px -1px 0 rgb(255, 255, 255); /* Contorno para cima e à esquerda */
        
    }
}
